.projetos-page {
    margin: 0;
    padding: 40px 0;
    color: white;
    background-color: #0d0d0d;
    width: 100%;
  
    h1 {
      text-align: center;
      margin-bottom: 40px;
      font-size: 3rem;
      color: #e50914;
    }
    h2{
        text-align: center;
        margin-bottom: 40px;
        font-size: 2rem;
        color: #e50914;
    }
  
    .card-projeto {
      width: 80%;
      margin: auto;
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
    .divider {
      width: 100%;
      height: 2px;
      margin: 40px 0;
      background: linear-gradient(to right, transparent, #e50914, transparent);
    }
  
    .conteudo-principal {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;
  
      video {
        width: 55%;
        border-radius: 12px;
        box-shadow: 0 0 15px rgba(229, 9, 20, 0.4);
      }
  
      .texto {
        width: 45%;
        font-size: 18px;
        line-height: 1.6;
        text-align: justify;
        a{
            color: #e50914 !important;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
      }
    }
  
    .detalhes {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;
      
      img {
        border-radius: 12px;
        box-shadow: 0 0 15px rgba(229, 9, 20, 0.4);
      }
    }
  
    @media (max-width: 900px) {
      .conteudo-principal {
        flex-direction: column;
        align-items: center;
  
        video {
          width: 90%;
        }
  
        .texto {
          width: 90%;
          a{
            color: #e50914 !important;
            text-decoration: none;
          }
          &:hover {
            text-decoration: underline;
        }
        }
      }
  
      .detalhes {
        flex-direction: column;
        align-items: center;
      }
    }
  }
  